<!-- This is used for commenting-->
{% load static %}
<link rel="stylesheet" href="static/style.css">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>NUSBuy: buy and sell items on NUS campus</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <style>
        nav {
            font-size: 14px;
            font-family: sans-serif;
            text-align: center;
            width: 150%;
        }

        .menu {
            width: 119px;
            border: solid 1px; 
            float: left;
            padding: 10px 0;
            background-color: black;
            color: white;
        }    
    </style>

    <body>
        <img style="width: 100px; height: 100px;" src="/static/logo.png" alt="NUSBuy logo"/>
        <nav>
            <a href="{% url 'home' %}"><div class = "menu">See all listings</div></a>
            <a href="{% url 'report' %}"><div class = "menu">Report a bug</div></a>
        </nav>

        <nav>
        <h2></h2>
        {% if user.is_authenticated %}
            <p><a href="{% url 'logout' %}">&#128274 Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">&#128275 Login</a></p>
        {% endif %}
        </nav>
        <br>
        <br>
        {% block content %}
            replace me
        {% endblock %} 
    </body>
</html>
