{% extends 'base.html' %}

{% block content %}

{% load socialaccount %}
{% providers_media_js %}

<html>
    <head>
        <title> Google Registration </title>
    </head>

    <body>
        <a href = "{% provider_login_url "google" %}"> <button>Google Connect</button> </a>
        <a href = "{% provider_login_url "facebook" method="js_sdk" %}"> <button>Facebook Connect</button>  </a>
        <a href = "{% provider_login_url "github" %}"> <button>Github Connect</button> </a>
        <a href = "{% provider_login_url "instagram" %}"> <button>Instagram Connect</button> </a>
        <a href = "{% provider_login_url "discord" %}"> <button>Discord Connect</button> </a>
    </body>
</html>

{% endblock %}
