{% extends 'base.html' %}

{% block content %}
     
<style>
     /*table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
     }
     th, td {
          padding: 5px;
          text-align: center;
          font-size: 14px;
          font-family: sans-serif;
          background-color: orange;
          color: white;
     }
     .button {
          background-color: black;
          border: none;
          color: white;
          padding: 8px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 4px 2px;
          cursor: pointer;
     }*/
body {
  max-width: 77%;
}

p {
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 22.2%;
  padding: 2px;
  background-color: whitesmoke;
  height: 550px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 230px;
  height: 488px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: azure;
  color: black;
}

.price {
  color: red;
  font-size: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  margin-left: 0px;
  color: black;
  background-color: orange;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

.card button:hover {
  opacity: 0.7;
}

.button {
     margin-top: 570px;
     margin-left: -275px;
}

.sort button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.create button {
    background-color: green;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;   
}

#seek {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#inp {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
</style>

<form class = 'form-inline my-2 my-lg-1'>
     <input
          id="inp"
          class = 'form-control mr-sm-2'
          type = 'search'
          placeholder = 'Search...'
          aria-label = 'Search'
          name = 'search'>
     <button id= "seek" class = 'btn btn-outline-success my-2 my-sm-0' type = 'submit'><i class="fa fa-search"></i></button>
</form>
<div class="sort">
     <select name="Sort" onchange="location = this.value;">
    <option>------Sort-------</option>
     <option
     value="?title=True"
     class="btn btn-{% if 'title' in request.GET %}warning{% else %}primary{% endif %}"
     >Sort by name
     </option>

     <option
     value="?pub_date=True"
     class="btn btn-{% if 'pub_date' in request.GET %}warning{% else %}primary{% endif %}"
     >Sort by publish date
     </option>

     <option
     value="?view_count=True"
     class="btn btn-{% if 'view_count' in request.GET %}warning{% else %}primary{% endif %}"
     >Sort by view count
     </option>
  </select>
</div>
<br>

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1"><button>&laquo; first</button></a>
            <a href="?page={{ posts.previous_page_number }}"><button>previous</button></a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"><button>next</button></a>
            <a href="?page={{ posts.paginator.num_pages }}"><button>last &raquo;</button></a>
        {% endif %}
    </span>
</div>

<div>
    <h3> Product listings in {{ this_category.name }} category </h5>
</div>
{% for instance in object_list %}
     <div class="columns">
          <div class="card">
  	          <img src="{{ instance.image_link_1 }}" alt="Product" style="height:240px; width:100%;">
  	          <h2>{{ instance.title }}</h2>
  	          <p class="price">${{ instance.price_in_SGD }}</p>
  	          <p>Category: {{ instance.category }}</p>
               <p>Views: {{ instance.view_count }}</p>
               <a href = "{% url 'product-by-category' instance.category.pk %}"><button>Same category</button></a>
  	          <a href="{% url 'product-detail' instance.pk %}"><button>See details</button></a>
          </div>
     </div>     
     {% empty %}
            <div>
                <h3> There are no product listings yet. </h3>
            </div>
     {% endfor %}  

<script>
  var tit = document.querySelectorAll("h2");
  var i;
  for (i = 0; i < tit.length; i++) {
    if(tit[i].innerText.length > 20) {
      tit[i].innerText = tit[i].innerText.substr(0, 20) + "...";
    }
  }
</script>

{% endblock %}
