{% extends 'base.html' %}

{% block content %}
<style>
img {
  max-width: 100%;
  height: auto;
}
.item1 { grid-area: header; }
.item2 { grid-area: image; }
.item3 { grid-area: date; }
.item4 { grid-area: count; }
.item5 { grid-area: category; }
.item6 { grid-area: price; }
.item7 { grid-area: multy; }
.item8 { grid-area: deliver; }
.item9 { grid-area: con; }
.item10 { grid-area: descript; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'image image image'
    'image image image'
    'image image image'
    'image image image'
    'image image image'
    'image image image';
  grid-gap: 0px;
  background-color: whitesmoke;
  padding: 0px;
  width: 100%;
}

.grid-box {
  display: grid;
  grid-template-areas:
    'date'
    'count'
    'category'
    'price'
    'multy'
    'deliver'
    'con';
  grid-gap: 0px;
  background-color: whitesmoke;
  padding-right: 0px;
  border: 1px solid Silver;
  width: 30.3%;
}

.description {
  width: 38%;
  height: 300px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:azure;
  border: 1px solid Silver;
  margin: 10px;
}

.seller {
  width: 28.7%;
  height: 300px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid Silver;
  background-color:azure;
  margin-left: 40.4%;
  margin-top: -333px;
}

.grid-container > div {
  background-color: whitesmoke;
  text-align: left;
  padding: 15px 15px 0px 15px;
  margin-right: 300px;
  font-size: 15px;
  font-family: sans-serif;
  color: black;
}

.grid-box > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: azure;
  text-align: left;
  padding: 15px 15px 42.5px 15px;
  margin-right: 0px;
  font-size: 15px;
  font-family: sans-serif;
  color: black;
}

.button {
          background-color: black;
          border: none;
          color: white;
          padding: 8px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 4px 2px;
          cursor: pointer;
}
h1 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px;
}
.form {
  width: 50%;
  background-color: azure;
  border: 1px solid Silver;
  padding: 5px 5px;
  color: black;
}
.form > div {
  background-color: whitesmoke;
  text-align: left;
  padding: 60px;
  font-size: 10px;
  font-family: sans-serif;
  color: black;
}
.comments-list {
  width: 100%;
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
}
.comments-list > div {
  background-color: whitesmoke;
  text-align: left;
  padding: 0px;
  font-size: 10px;
  font-family: sans-serif;
  color: black;
}
.info {
  background-color: azure;
  color: black;
  border: 1px solid Silver;
  padding-left: 10px;
  width: 33.3%
}
.info > div {
  padding-left: 0px;
}

.columns {
  float: left;
  width: 40%;
  padding: 2px;
  background-color: whitesmoke;
}

.control {
  margin: 2px;
  padding: 80px 2px 2px 2px;
}

.control button {
  background-color: black;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

button {
            background-color: grey;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .auth {
            background-color: grey;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            cursor: pointer;
            margin-top: -15px;
        }    
  .fb-share-button {
    margin: 10px;
  }

  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>

<div class="columns">
  <div class ="grid-container">
    <div class="item1"><h2>{{ object.title }}</h2></div>
    <div class="item2">
      <div>
        <button style="color: black; font-size:24px; border: none; background-color: whitesmoke;" onclick="function_2()"><i class="fa fa-arrow-left"></i></button>
        <button style="color: black; font-size:24px; border: none; background-color: whitesmoke;" onclick="function_1()"><i class="fa fa-arrow-right"></i></button>
      </div>
      <img class ="change" id= "myImg" src="{{ object.image_link_1 }}">
      <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
      </div>
    </div>
    {% comment %} <div class="item10">Description: {{ object.description }}</div> {% endcomment %}
  </div>
</div>

<div class ="grid-box">
    <div class="item3"><i class="fa fa-calendar" aria-hidden="true"></i> Time uploaded: {{ object.pub_date }}</div>  
    <div class="item4"><i class="fa fa-eye" aria-hidden="true"></i> Views: {{ object.view_count }}</div>
    <div class="item5"><i class="fa fa-filter" aria-hidden="true"></i> Category: {{ object.category }}</div>
    <div class="item6"><i class="fa fa-usd" aria-hidden="true"></i> Price: ${{ object.price_in_SGD }}</div>
    <div class="item7"><i class="fa fa-files-o" aria-hidden="true"></i> Multiple quantities: {{ object.this_product_has_multiple_quantities }}</div>
    <div class="item8"><i class="fa fa-map-marker" aria-hidden="true"></i> Delivery location: {{ object.delivery_location }}</div>
    <div class="item9"><i class="fa fa-check-circle" aria-hidden="true"></i> Condition: </div>
      {% comment %} <i class="fa fa-user" aria-hidden="true"></i> con: {{ object.con }}
        {% for account in object.con.socialaccount_set.all %}
          <h4> The con logged in via {{ account.provider }}. </h4>

          {% if account.get_avatar_url %}
            <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
          {% endif %}

          {% if account.extra_data.email %}
            <p> E-mail: {{ account.extra_data.email }} </p>
          {% endif %}

          {% if account.extra_data.full_name %}
            <p> Full name: {{ account.extra_data.full_name }} </p>
          {% endif %}

          {% if account.extra_data.username %}
            <p> Full name: {{ account.extra_data.username }} </p>
          {% endif %}

          {% if account.extra_data.bio %}
            <p> Bio: {{ account.extra_data.bio }} </p>
          {% endif %}

          {% if account.extra_data.name %}
            <p> Name: {{ account.extra_data.name }} </p>
          {% endif %}

          {% if account.extra_data.company %}
            <p> Company: {{ account.extra_data.company }} </p>
          {% endif %}

          {% if account.extra_data.blog %}
            <p> Blog: {{ account.extra_data.blog }} </p>
          {% endif %}

          {% if account.extra_data.location %}
            <p> Location: {{ account.extra_data.location }}{{ account.extra_data.location.name }} </p>
          {% endif %}

          {% if account.extra_data.given_name %}
            <p> name: {{ account.extra_data.name }}, or {{ account.extra_data.given_name }} {{ account.extra_data.family_name }} </p>
          {% endif %}

          {% if account.extra_data.counts.follows %}
            <p> Number of Follows: {{ account.extra_data.counts.follows }}, Number of Followers:  {{ account.extra_data.counts.followed_by }} </p>
          {% endif %}
        {% endfor %}
    </div> {% endcomment %}
</div>

<div class="description"><p><i class="fa fa-info-circle"></i> Description: {{ object.description }}</p> <p><i class="fa fa-expand" aria-hidden="true"></i> Extra information: {{ object.extra_information }}</p></div>
<div class="seller">
  <h4>Meet The Seller</h4>
        {% for account in object.author.socialaccount_set.all %}

          {% if account.get_avatar_url %}
            <h2><img width="23" height="23" src="{{ account.get_avatar_url }}" /> {{ object.author }}</h2>
          {% endif %}

          {% if account.extra_data.email %}
            <p> E-mail: {{ account.extra_data.email }} </p>
          {% endif %}

          {% if account.extra_data.full_name %}
            <p> Full name: {{ account.extra_data.full_name }} </p>
          {% endif %}

          {% if account.extra_data.username %}
            <p> Full name: {{ account.extra_data.username }} </p>
          {% endif %}

          {% if account.extra_data.bio %}
            <p> Bio: {{ account.extra_data.bio }} </p>
          {% endif %}

          {% if account.extra_data.name %}
            <p> Name: {{ account.extra_data.name }} </p>
          {% endif %}

          {% if account.extra_data.company %}
            <p> Company: {{ account.extra_data.company }} </p>
          {% endif %}

          {% if account.extra_data.blog %}
            <p> Blog: {{ account.extra_data.blog }} </p>
          {% endif %}

          {% if account.extra_data.location %}
            <p> Location: {{ account.extra_data.location }}{{ account.extra_data.location.name }} </p>
          {% endif %}

          {% if account.extra_data.given_name %}
            <p> name: {{ account.extra_data.name }}, or {{ account.extra_data.given_name }} {{ account.extra_data.family_name }} </p>
          {% endif %}

          {% if account.extra_data.counts.follows %}
            <p> Number of Follows: {{ account.extra_data.counts.follows }}, Number of Followers:  {{ account.extra_data.counts.followed_by }} </p>
          {% endif %}
          <h4> The author logged in via {{ account.provider }}. </h4>
        {% endfor %}
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>

<div class="fb-share-button" data-href="{% url 'product-detail' object.pk %}" data-layout="button" data-size="large"></div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class ="control">
  <a href = "{% url 'product-update' object.pk %}"><button>Update</button></a>
  <a href = "{% url 'product-delete' object.pk %}"><button>Delete</button></a>
  <a href = "{% url 'home' %}"><button>Back to home</button></a>
  <input type="text" value="{% url 'product-detail' object.pk %}" class="myInput" style="display:none;">
  <button onclick="thisFunction()">Copy link to clipboard</button>
</div>
<br /> 

<script>
function thisFunction() {
  var copyText = document.getElementsByClassName("control")[0].getElementsByClassName("myInput")[0];
  copyText.select();
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>

<div class="form">
  <form action="" method = "post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}            
    <p><input class="button" type="submit" value="Submit"></p> 
  </form>
</div>
<br />

<div class="comments-list">
        {% for each_comment in comments %}
        <div class="comment">
            <div class="info">
                <p style="font-size: 15px; color: red;">{{ each_comment.con }}<span>   <span>at {{ each_comment.created_on }}</span></p>
                <p style="font-size: 15px;">{{ each_comment.comment }}</p>
            </div>   
        </div>

        {% empty %}
            <div>
                <h3> There are no comments yet. </h3>
            </div>
        {% endfor %}
</div>
<br>
<br>
<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.806464815039!2d103.77808461467792!3d1.290415299058816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a54bcc446f1%3A0xe1e7c4fb5e8b36!2sPGP+House!5e0!3m2!1sen!2s!4v1561174890032!5m2!1sen!2s" 
width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<script>
  var o = "{{ object.delivery_location }}"; //o: delivery location
  if(o == 'ONLINE') {
    document.getElementById("map").style.display='none';
  }
  else if(o == "Prince George Park's Residences/ KEVII Hall") {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.782693160289!2d103.77087091467803!3d1.305485899047833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1af575f7ff17%3A0x1056d4b4bd4641c8!2sUniversity+Town%2C+NUS!5e0!3m2!1sen!2s!4v1561175710875!5m2!1sen!2s";
  }
  else if(o == 'Kent Ridge MRT') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.801486267624!2d103.78226797907699!3d1.2935860990611263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a52319edb39%3A0x9a36ad159e134e84!2sKent+Ridge+MRT+Station!5e0!3m2!1sen!2s!4v1561199872701!5m2!1sen!2s";
  }
  else if(o == 'Science/ UHall') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7977.595630116411!2d103.77509185258194!3d1.2959192962377317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a56e999f249%3A0x859a7ca60c6ce39e!2sFaculty+of+Science%2C+Singapore!5e0!3m2!1sen!2s!4v1561199976727!5m2!1sen!2s";
  }
  else if(o == 'UHC/ RVRC/ YIH') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.792872924171!2d103.77439447907696!3d1.2990535990571603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1a581f3cd689%3A0xebce1c2fa4410281!2sUniversity+Health+Centre%2C+Singapore!5e0!3m2!1sen!2s!4v1561200073247!5m2!1sen!2s";
  }
  else if(o == 'Museum/Raffles Hall') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.789048296241!2d103.77045837907697!3d1.3014739990554103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1afa50000073%3A0x582a621ea6f4ff8a!2sNUS+Museum!5e0!3m2!1sen!2s!4v1561200114151!5m2!1sen!2s";
  }
  else if(o == 'UTown') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.796366591163!2d103.77106677907697!3d1.2968386990587686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1afe9835b3ef%3A0x71cfd09de700fc45!2sNUS+Central+Library!5e0!3m2!1sen!2s!4v1561200138723!5m2!1sen!2s";
  }
  else if(o == 'FASS/ Eusoff Hall/ Temasek Hall') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.796366591163!2d103.77106677907697!3d1.2968386990587686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1af92e55da69%3A0x54195dfc4f1caf1e!2sNUS+Arts+%26+Social+Sciences!5e0!3m2!1sen!2s!4v1561200159542!5m2!1sen!2s";
  }
  else if(o == 'Business School/ Kent Ridge Hall/ Sheares Hall') {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7991254095045!2d103.771702279077!3d1.2950869990600533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1af8c7e4e75b%3A0x436963e22924394a!2sNUS+School+of+Computing!5e0!3m2!1sen!2s!4v1561200235687!5m2!1sen!2s";
  }
  else {
    document.getElementById("map").src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.803071847354!2d103.77198767907697!3d1.2925770990618692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1aff72797d93%3A0x46e392c21ec882ca!2sNUS+Business+School!5e0!3m2!1sen!2s!4v1561200263058!5m2!1sen!2s";
  }
</script>

<script>
  {% comment %} var t = "{{ object.image_link_2 }}";
  if(t == '') {
    document.getElementsByClassName("columns")[0].getElementsByClassName("grid-container")[0].getElementsByClassName("item2")[0].getElementsByClassName("slider")[0].className = "single";
  } {% endcomment %}
  var link_1 = "{{ object.image_link_1 }}";
  var link_2 = "{{ object.image_link_2 }}";
  var link_3 = "{{ object.image_link_3 }}";
  var link_4 = "{{ object.image_link_4 }}";
  var curr_img = document.getElementById("myImg");
  function function_1() {
    if(curr_img.src == link_1 && link_2 != "") {
      curr_img.src = link_2;
    }
    else if(curr_img.src == link_2 && link_3 != "") {
      curr_img.src = link_3;
    }
    else if(curr_img.src == link_3 && link_4 != "") {
      curr_img.src = link_4;
    }
  }
  function function_2() {
    if(curr_img.src == link_2) {
      curr_img.src = link_1;
    }
    if(curr_img.src == link_3 && link_2 != "") {
      curr_img.src = link_2;
    }
    if(curr_img.src == link_4 && link_3 != "") {
      curr_img.src = link_3;
    }
  }
</script>

<script>
  var modal = document.getElementById("myModal");
  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
  }
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() { 
    modal.style.display = "none";
  }
</script>

<script>
  var con = "{{ object.condition }}";
  if(con == 'N') {
    document.getElementsByClassName("grid-box")[0].getElementsByClassName("item9")[0].innerHTML += "New";
  }
  else {
    document.getElementsByClassName("grid-box")[0].getElementsByClassName("item9")[0].innerHTML += "Used";
  }
</script>

{% endblock %}
