{% extends 'base.html' %}

{% block content %}
     
<style>
     /*table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
     }
     th, td {
          padding: 5px;
          text-align: center;
          font-size: 14px;
          font-family: sans-serif;
          background-color: orange;
          color: white;
     }
     .button {
          background-color: black;
          border: none;
          color: white;
          padding: 8px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 4px 2px;
          cursor: pointer;
     }*/

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 20%;
  padding: 2px;
  background-color: powderblue;
  border: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 530px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: powderblue;
  color: black;
}

.price {
  color: red;
  font-size: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: orange;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

.card button:hover {
  opacity: 0.7;
}

.button {
     margin-top: 550px;
     margin-left: -900px;
}
</style>

{% for instance in posts %}
     <div class="columns">
          <div class="card">
  	          <img src="{{ instance.image_link_1 }}"" alt="Product" style="height:300px; width:100%;">
  	          <h2>{{ instance.title }}</h2>
  	          <p class="price">${{ instance.price_in_SGD }}</p>
  	          <p>Category: {{ instance.category }}</p>
               <p>Views: {{ instance.view_count }}</p>
               <a href="{% url 'product-detail' instance.pk %}"><font color="blue">See details</font></a>. 
               <p>Posts with similar category:
               <a href="{% url 'product-by-category' instance.category.pk %}"><font color="blue">here</font></a>.
               </p>
          </div>
     </div>
     
     {% empty %}
            <div>
                <h3> There are no product listings yet. </h3>
            </div>
     {% endfor %}
<a href="{% url 'product-create' %}"><font color="blue">Create a new listing</font></a>. 

<a href = "{% url 'product-create' %}" class = "float-left"><i class="fas fa-plus-square"></i></a>
<a
     href="?title=True"
     class="btn btn-{% if 'title' in request.GET %}warning{% else %}primary{% endif %}"
     style="margin-bottom: 5px">Sort by name
</a>
      
<a
     href="?pub_date=True"
     class="btn btn-{% if 'pub_date' in request.GET %}warning{% else %}primary{% endif %}"
     style="margin-bottom: 5px">Sort by publish date
</a>

<a
     href="?view_count=True"
     class="btn btn-{% if 'view_count' in request.GET %}warning{% else %}primary{% endif %}"
     style="margin-bottom: 5px">Sort by view count
</a>


{% include 'products/pagination_links.html' %}

{% endblock %}