{% extends 'base.html' %}

{% block content %}

<style>
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

<div class="form">
    <form action="" method = 'post' novalidate>
            {% csrf_token %}
            {{ form.as_p}} <!-- form as paragraph-->
            <p><input type="submit" value="Submit"></p> 
    </form>
</div>

<button onclick="location.href = 'http://127.0.0.1:8000/';" id="myButton" class="button" >Back</button>


{% endblock %}