{% extends 'base.html' %}
{% block content %}
<script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }
</script>
<h4>
    This website is built for NUS SoC's CP2106: Independent Software Development Project.
</h4>

<h4>
    If you encounter any bugs (which is very likely), 
    please e-mail us <button onclick="myFunction()">at this e-mail</button> <input type="text" value="e0313562@u.nus.edu" id="myInput" style="display:none;"> ,
</h4>

<h4>
    or submit a pull request <a href="https://github.com/dinhnhobao/NUSBuy/pulls"><font color="blue">here</font></a>. 
</h4>

<h4>
    Thank you!
</h4>
{% endblock %}
